.header {
    max-width: 100%;
    margin: 0 auto;
    .wrapper_header {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .img_avatar {
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar {
                width: 380px;
                height: 507px;
                border-radius: 4%;
                border: 1px solid black;
            }
            .name {
                margin-left: 200px;
                padding: 10px;
            }
        }
        .navigation {
            max-width: 100%;
            .nav_list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 100%;
                padding-left: 0;
                .list_nav {
                    a {
                        color: #3D2E7C;
                        font-weight: 700;
                        text-decoration: none;

                    }
                    list-style: none;
                }

            }
        }
    }
}
