.header {
  background: #645e5ebf;
  padding: 50px 0 50px 0;
  .hdr__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .hdr__cv {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .cv-card {
      background: #000;
      width: 150px;
      height: 150px;
      border-radius: 100px;
    }
  }
}
