.contacts {
    .contactList {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
        }
    }
}
.about {
    .text_about {
        padding: 10px;
    }
}
.skills {
    .skills_list {
        .name_sk {
            list-style: none;
        }
    }
}
.educ_cour {
    .stepik {
        padding: 10px 0;
        .name_cour {
            a {
                text-decoration: none;
            }
        }
        .cert {
            width: 860px;

        }
    }
}
.languges {
    .lang {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        .name_lang {
            margin-right: 20px;
        }
        .name_lang_en {
            margin-right: 32px;
        }
    }
}