//** --------fonts-------//
$primaryFont : 'Roboto', sans-serif;
$sectionTitle: 'Roboto', sans-serif;
$subtitleSection: 'Roboto', sans-serif;
$name: 'Roboto', sans-serif;
$defaultSize-font: 16px;
$sizeName-font: 38px;
$ttlSection: 24px;
$sbttlSection: 18px;

//*------sizes------//
$szWrapper: 1060px;
$szBody: 1280px;
$szAvatar: 150px;

//! media-query width;

//*table//
$tabletWidthBody: 768px;
$tabletWidthWrapper: 688px;
//*mobile//
$mobileWidthBody: 380px;
$mobileWidthWrapper: 348px;