//! ----- mediaSize ----//
//*-----screen----//
$mediaSize-screen: 1440px;
$mediaSize-screenWrapper: 1360px;
//*----tablet---//
$mediaSize-tablet: 768px;
$mediaSize-tabletWrapper: 688px;
//*-----mobile---//
$mediaSize-mobile: 380px;
$mediaSize-mobileWrapper: 348px;


//!-------- TEXT----------//
$textPrimary: 'Roboto';
$textSize: 1rem;
$textTitle: 3rem;
$textTitle-mobile: 2rem;
$textSubtitle: 2rem;
$textSize-sectionTitle: 1.5rem
